body{
	background-image: url(../images/tuyet.jpg);
	background-size: 100%;
	font-family: Arial;
	font-size: 12px;
}
#top{
	width: 800px;
	margin: auto; 
	height: 300px;
}
img{
	height: 100%;
    width: 100%;
}
/* #menu li {
  color: white;
  display: inline-block;
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-left: -5px;
  border-right: 1px solid black;
}
a{
	float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */
#bar{
	width: 800px;
	margin: auto;
	height: 40px;
	background-color: black;
	padding-left: 0px;
	padding-top: 1px;
}
ul{
	display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li:hover{
	background-color: grey;
}
a:hover{
	color: black;
}
.hop{
    border: inset;
    position: relative;
    bottom: 40px;
}

.item {
    line-height: 42px;
    list-style: none;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
a {
	text-decoration: none;
	color: orange;
	font-weight: bold;
}
#left{
	width: 140px;
	height: 500px;
	background-color: white;
	float: left;
	min-height: 900px;
}
.danhmuc{
	position: relative;
    bottom: 40px;
    /* left: 5px; */
    text-align: center;
    color: white;
}
#wrapper{
	width: 800px;
	margin: auto;
	height: 500px;
}
#main{
	width: 500px;
	height: 500px;
	background-color: white;
	float: left;
	min-height: 900px;
}
#right{
	width: 160px;
	height: 500px;
	background-color: white;
	float: left;
	min-height: 900px;
}
#bottom{
	width: 800px;
	margin: auto;
	height: 50px;
	background-color: grey;
}
.mauhong{
	background-color: pink;
	border-radius:5%;
}
.d1t{
	font-weight: bold;
    bottom: 33px;
    position: relative;
    color: #fff;
}
.d2t{
	position: relative;
    bottom: 30px;
}
.d1p{
	font-weight: bold;
	position: relative;
    text-align: right;
    bottom: 33px;
    color: #fff;
}.d2p{
	position: relative;
    bottom: 30px;
    text-align: right;
}
.anht{
	width: 30%;
	height: 20%;
	display: inline;
    float: left;
}
.anhp{
	width: 30%;
	height: 20%;
}
.chutrai{
	display: inline;
}
.chuphai{
	float: left;
    display: inline;
    width: 70%;
}
#bottom{
	background-color: black;
	height: 50%;
}
.chuduoi{
	text-align: center;
	color: orange;
	font-weight: bold;
}


























/* 		.imaHead{
	height: 500px;
	width: 800px;
	margin: auto;
}
#menu{
	background: grey;
	height: 42px;
	margin: auto;
	width: 52%;
}
.item{
	line-height: 42px;
	list-style: none;
	float: left;
	padding-left: 10px;
	padding-right: 10px;
}
.item a {
	color: orange;
	text-decoration: none;
}
.item:hover{
	background: blue;
}
.left{
	height: 500px;
	width: 140px;
	background-color: blue;
	float: left;
}
#center{
	width: 800px;
	height: 500px;
	margin: auto;
}
.right{
	height: 500px;
	width: 140px;
	background-color: pink;
	float: right;
}
.center{
	height: 500px;
	width: 520px;
	background-color: yellow;
} */
		